#accountcontainer {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
    font-weight: 800;
    font-size: 40px;
}

#accountcontainer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: url(./landingpagebackground.webp) no-repeat center center/cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: 100%;
}

#accountbox {
    margin-top: 0.3rem;
    background-color: white;
    border-radius: 15px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px white;
    max-width: 95vw;
}

.ques {
    width: 6rem !important;
    min-width: 6rem !important;
    font-weight: 700;
}

.ans {
    font-weight: 500;
    word-wrap: break-word;

}

#goback {
    margin-top: 0.8rem;
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px !important;
}

@media only screen and (max-width: 500px) {
    #accountcontainer::before {
        height: 100vh !important;
    }

    #accountcontainer {
        margin-bottom: 1.6rem;
    }
}